<h3>Sign Up</h3>
<form class="" action='/users' method='post'>
  <label for="name">Name:</label>
  <input type="text" name="name">
  <label for="email">Email:</label>
  <input type="text" name="email">
  <label for="password">Password:</label> 
  <input type="password" name="password">
  <input type="submit" name="" value="Create User"> 
</form>

<a href="/">Back</a>