<h1>Edit A Post:</h1>
<form action="/posts/<% @post.id %>" method="POST"> 
  <input type="hidden" name="_method" value="patch"> 
  <label>Post:</label> 
  <input type="text" style="width:auto: height:auto" name="content" value="">
  <label>Recipe:</label>
  <input type="text" style="width:auto: height:auto" name="recipes" value="">
  <input type="submit" name="Edit Post"> 
</form>