<h1>Create A New Post:</h1>
<form action="/posts/new" method="POST"> 
  <label>Post:</label> 
  <input type="text" name="posts" value="">
  <label>Recipe:</label>
  <input type="text" name="recipes" value="">
  <input type="submit" name="Publish">
</form>